<form [ngFormModel]="form" (ngSubmit)="changePassword()">

    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input 
            ngControl="oldPassword" 
            #oldPassword="ngForm" 
            id="oldPassword" 
            type="text" 
            class="form-control"
            required>
        <div *ngIf="oldPassword.touched && oldPassword.errors">
            <div 
                *ngIf="oldPassword.errors.required"
                class="alert alert-danger">Old password is required.</div>
            <div
                *ngIf="oldPassword.errors.invalidOldPassword"
                class="alert alert-danger">Old password does not match.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input 
            ngControl="newPassword" 
            #newPassword="ngForm" 
            id="newPassword" 
            type="text" 
            class="form-control"
            required>
        <div *ngIf="newPassword.touched && newPassword.errors">
            <div 
                *ngIf="newPassword.errors.required"
                class="alert alert-danger">New password is required.</div>
            <div 
                class="alert alert-danger" *ngIf="newPassword.errors.minPasswordLength">
                New password should be minimum {{newPassword.errors.minPasswordLength.minLength}} characters.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input 
            ngControl="confirmPassword" 
            #confirmPassword="ngForm" 
            id="confirmPassword" 
            type="text" 
            class="form-control"
            required>
        <div *ngIf="confirmPassword.touched && confirmPassword.errors">
            <div 
                *ngIf="confirmPassword.errors.required"
                class="alert alert-danger">Confirm the password.</div>
            <div 
                class="alert alert-danger" *ngIf="confirmPassword.errors.mismatchedPasswords">
                Confirm password does not match new password</div>
        </div>
    </div> 

    <button class="btn btn-primary" type="change-password" [disabled]="!form.valid">Change Password</button>

</form>